@foreach (var product in Products!) {
    <div class="col-md-3 mb-2">
        <a href="#">
            <div class="card">
                <img class="img-thumbnail" src="@product.ImageUrl" alt="@product.Name"/>
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        @product.Name<br/>
                        @product.Price.ToString("C")
                    </h5>
                </div>
            </div>
        </a>
    </div>
}

@code {
    [Parameter]
    public IEnumerable<ProductDTO>? Products { get; set; }
}
